<div class="conteneur">
  <h2 class="titre-page">🎨 Ma collection</h2>
  <p *ngIf="message" style="color:#facc15;">{{ message }}</p>

  <div class="grid-items">
    <div *ngFor="let ui of collection" class="carte-item" [class.active]="ui.actif">
      <img [src]="ui.item.imagePath" [alt]="ui.item.nom" class="item-img" />
      <h3>{{ ui.item.nom }}</h3>
      <p>{{ ui.item.rarete }}</p>

      <button *ngIf="!ui.actif" (click)="setAvatar(ui)" class="bouton bouton--or">Équiper</button>
      <span *ngIf="ui.actif" style="color:#22c55e;">✅ Actif</span>
    </div>
  </div>

  <a routerLink="/boutique" class="bouton mt-12">Retour à la boutique</a>
</div>
