<!-- src/app/auth/register.component.html -->
<h2>Inscription</h2>

<form [formGroup]="formulaire" (ngSubmit)="envoyer()">
  <div>
    <label>Email</label><br />
    <input formControlName="email" type="email" maxlength="40"/>
    <div *ngIf="formulaire.get('email')?.touched && formulaire.get('email')?.invalid" style="color:red">
      Email invalide.
    </div>
  </div>

  <div style="margin-top:8px">
    <label>Pseudo</label><br />
    <input formControlName="pseudo" maxlength="10"/>
    <div *ngIf="formulaire.get('pseudo')?.touched && formulaire.get('pseudo')?.invalid" style="color:red">
      Pseudo requis (min 3).
    </div>
  </div>

  <div style="margin-top:8px">
    <label>Mot de passe</label><br />
    <input formControlName="motDePasse" type="password" maxlength="20"/>
    <div *ngIf="formulaire.get('motDePasse')?.touched && formulaire.get('motDePasse')?.invalid" style="color:red">
      Mot de passe requis (min 6).
    </div>
  </div>

  <div style="margin-top:12px">
    <button type="submit" [disabled]="enCours">{{ enCours ? 'Envoi...' : "S'inscrire" }}</button>
  </div>
</form>

<div *ngIf="messageErreur" style="color:red; margin-top:12px">
  {{ messageErreur }}
</div>


<div *ngIf="messageSucces" style="color:green; margin-top:12px">
  {{ messageSucces }}

  <div style="margin-top:20px; text-align:center;">
    <button routerLink="/login" style="padding:6px 12px; border:1px solid #1976d2; border-radius:4px; background:#1976d2; color:#fff; cursor:pointer;">
      Se connecter
    </button>
  </div>

</div>
